@model NPGeek.Web.Models.ParkModel
@{
    ViewBag.Title = "Detail";
}
<h2>Detail</h2>
<div class="detailcontainer">
    <div class="detailsubcontainer">
        <div class="detailpic">
            <img class="picdetailpic" src="~/Content/@(Model.ParkCode).jpg" />
            <p class="author1">@Model.InspirationalQuote</p>
            <p class="author">-@Model.QuoteSource</p>
        </div>
        <div class="detailinfo">
            <p class="testthis">@Model.ParkName</p>
            <div class="detailtitles" style="display: inline-block">
                <p>Founded In:</p>
                <p>Location:</p>
                <p>Size:</p>
                <p>Elevation:</p>
                <p>Trail Length:</p>
            </div>
            <div class="detailtitles2" style="display: inline-block">
                <p>@Model.YearFounded</p>
                <p>@Model.State</p>
                <p>@Model.Acreage acres</p>
                <p>@Model.Elevation Ft. </p>
                <p>@Model.MilesOfTrail</p>
            </div>
            <div class="detailtitles" style="display: inline-block">
                <p>Climate:</p>
                <p>Number of Species:</p>
                <p>Annual Visitors:</p>
                <p>Campsites:</p>
                <p>Fee:</p>
            </div>
            <div class="detailtitles2" style="display: inline-block">
                <p>@Model.Climate</p>
                <p>@Model.NumberOfAnimalSpecies</p>
                <p>@Model.AnnualVisitorCount</p>
                <p>$@Model.EntryFee</p>
                <p>@Model.NumberOfCampsites</p>
            </div>
        </div>
    </div>
    <hr class="hrline1" />
    <div class="quoteblock" style="display:block">
        <p class="description">@Model.ParkDescription</p>
    </div>
    <hr class="hrline2" />
</div>
<div class="thebutton">
    <form class="thebutton2" action="@Url.Action("Detail", "Home")" method="post">
        <input type="radio" name="tempChoice" value="F" />Fahrenheit
        <input type="hidden" name="id" value="@Model.ParkCode" />
        <input type="radio" name="tempChoice" value="C" />Celsius
        <button>Set Units</button>
    </form>
</div>


<div>
    @Html.Action("WeatherDisplay", "Home", new { id = Model.ParkCode })
</div>