@model NPGeek.Web.Models.ParkModel
@{
    ViewBag.Title = "Detail";
}

<h2>Detail</h2>

<img src="~/Content/@(Model.ParkCode).jpg" />
<p>@Model.ParkName</p>
<p>@Model.State</p>
<p>@Model.Acreage</p>
<p>@Model.Elevation</p>
<p>@Model.MilesOfTrail</p>
<p>@Model.NumberOfCampsites</p>
<p>@Model.Climate</p>
<p>@Model.YearFounded</p>
<p>@Model.AnnualVisitorCount</p>
<p>@Model.InspirationalQuote</p>
<p>@Model.QuoteSource</p>
<p>@Model.ParkDescription</p>
<p>@Model.EntryFee</p>
<p>@Model.NumberOfAnimalSpecies</p>


<form action="@Url.Action("Detail", "Home")" method="post">
        <input type="radio" name="tempChoice" value="F"/>Fahrenheit
        <input type="hidden" name="id" value="@Model.ParkCode" />
        <input type="radio" name="tempChoice" value="C"/>Celsius
    <button>Set Units</button>
</form>



<div>
    @Html.Action("WeatherDisplay", "Home", new { id = Model.ParkCode })
</div>