@model NPGeek.Web.Models.ParkModel
@{
    ViewBag.Title = "Detail";
}
<h2>Detail</h2>
<div class="detailcontainer">
    <div class="detailsubcontainer">
        <div class="detailpic">
            <img class="picdetailpic" src="~/Content/@(Model.ParkCode).jpg" />
        </div>
        <div class="detailinfo">
            <p>@Model.ParkName</p>
            <p>Founded In:      @Model.YearFounded</p>
            <p>Location:        @Model.State</p>
            <p>Size:            @Model.Acreage acres</p>
            <p>Elevation:       @Model.Elevation Ft. </p>
            <p>Trail Length:    @Model.MilesOfTrail</p>
            <p>Climate:         @Model.Climate</p>
            <p>Species Count:   @Model.NumberOfAnimalSpecies</p>
        </div>
    </div> 
    <div style="display:block">
        <p>Annual Visitors: @Model.AnnualVisitorCount</p>
        <p>Quote:           @Model.InspirationalQuote</p>
        <p>By:              @Model.QuoteSource</p>
        <p>Description:     @Model.ParkDescription</p>
        <p>Fee:             $@Model.EntryFee</p>
        <p>Campsites:       @Model.NumberOfCampsites</p>

    </div>
</div>
<hr />

<form action="@Url.Action("Detail", "Home")" method="post">
    <input type="radio" name="tempChoice" value="F" />Fahrenheit
    <input type="hidden" name="id" value="@Model.ParkCode" />
    <input type="radio" name="tempChoice" value="C" />Celsius
    <button>Set Units</button>
</form>



<div>
    @Html.Action("WeatherDisplay", "Home", new { id = Model.ParkCode })
</div>