@model IList<NPGeek.Web.Models.WeatherModel>
@{
    ViewBag.Title = "WeatherDisplay";
    int count = -1;
}
<table class="table-bordered table-hover" id="help">
    
    <tr>
        <th class="weatherhead" style="width:70px"></th>
        <th class="weatherhead" style="width:auto"></th>
        <th class="weatherhead" style="width:100px">Temperature</th>
        <th class="weatherhead" style="width:400px">Weather Recommendations</th>

    </tr>

    @foreach (var weather in Model)
    {

        <tr class="weatherrow">
            <td>@DateTime.Now.AddDays(count += 1).ToShortDateString() </td>
            <td>
                @if (weather.Forecast == "partly cloudy")
                {
                    <img class="weatherpics" src="~/Content/partlyCloudy.png" alt="Forecast" />
                }
                else
                {
                    <img class="weatherpics" src="~/Content/@(weather.Forecast).png" alt="Forecast" />
                }
            </td>
            <td>
                @if (Model[0].TempPicker == "F")
                {
                    <p class="wp">High: @weather.High &#176 F</p>
                    <p class="wp">Low: @weather.Low &#176 F</p>
                }
                else if (Model[0].TempPicker == "C")
                {
                    <p class="wp">High: @(((weather.High) - 32) * 5 / 9)&#176 C</p>
                    <p class="wp">Low: @(((weather.Low) - 32) * 5 / 9)&#176 C </p>
                }
            </td>
            <td>
                @if (weather.Forecast == "snow")
                {
                    <p class="wp">Recommendation: Pack snowshoes</p>
                }
                else if (weather.Forecast == "rain")
                {
                    <p class="wp">Recommendation: Pack rain gear and waterproof shoes</p>
                }
                else if (weather.Forecast == "thunderstorms")
                {
                    <p class="wp">Recommendation: Seek shelter and avoid hiking on exposed ridges</p>
                }
                else if (weather.Forecast == "sunny")
                {
                    <p class="wp">Recommendation: Pack some sunblock</p>
                }


                @if (weather.High >= 75)
                {
                    <p class="wp">Recommendation: Bring an extra gallon of water</p>
                }

                @if (Math.Abs(weather.High - weather.Low) > 20)
                {
                    <p class="wp">Recommendation: Wear breathable layers</p>
                }
                @if (weather.Low < 20)
                {
                    <p class="wp">Recommendation: Be careful of extreme cold</p>
                }
            </td>
        </tr>
    }
</table>
